body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	font-family: Arial;
	background-color: #f2f2f2;
}

.landingcontent {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 10px;
	font-family: Arial;
}

.companytile {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 10px;
	padding: 10px;
	font-family: Arial;
	text-align: left;
	width: 700px;
}

.content {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
	padding: 10px;
	font-family: Arial;
	background-color: white;
	border: 1px solid #404040;
	border-radius: 10px;
}

.newlabel
{
    border: 1px solid #404040;
	border-radius: 10px;
    background-color:yellow;
    font-size:12pt;
    color:blue;
    padding-left:4px;
    padding-right:4px;
    padding-top:2px;
    padding-bottom:3px;
}

#downloadbutton a {
	display: block;
	color: transparent;
}

#downloadbutton a:hover {
	background-position: left bottom;
}

.downloadlink {
	font-weight: bold;
}

.mainmenurow {
	background-color: #004A7F;
}

.mainmenumenutitle {
	color: white;
}

.mainmenutab {
	height: 36px;
	padding-left: 8px;
	padding-right: 8px;
}

.mainmenutab a {
	text-decoration: none;
	color: white !important;
}

.mainmenutab a:link {
	text-decoration: none;
	color: white !important;
}

.mainmenutab a:hover {
	text-decoration: none;
	color: white !important;
}

.mainmenutab a:active {
	text-decoration: none;
	color: white !important;
}

.mainmenutab a:visited {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	padding: 6px;
	margin: 3px;
}

.bannerrow {
	border: 1px solid #E2E2E2;
}

.bannertab {
	height: 36px;
	padding-left: 3px;
	padding-right: 3px;
}

.bannertab a:link {
	font-weight: bold;
	text-decoration: none;
	padding: 6px;
	margin: 2px;
}

.bannertab a:hover {
	font-weight: bold;
	text-decoration: none;
	padding: 6px;
	margin: 1px;
	background-color: #404040;
	color: #FFFFFF !important;
	border: 1px solid #404040;
	border-radius: 3px;
}

.bannertab a:active {
	font-weight: bold;
	text-decoration: none;
	background-color: #404040;
	color: #FFFFFF !important;
	border: 1px solid #404040;
	border-radius: 3px;
}

.bannertab a:visited {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	padding: 6px;
	margin: 3px;
}

.producttile {
	background-color: white;
	border: 1px solid #404040;
	border-radius: 10px;
	width: 700px;
    height:260px;
	border-color: gray;
	font-size: smaller;
	padding: 10px;
	margin: 10px;
}

.producttile:hover {
	background-color: aliceblue;

	-webkit-box-shadow: 3px 3px 2px #888888;
	box-shadow: 3px 3px 2px #888888;
}

.producttile a {
	color: black;
	text-decoration: none;
}

.producttile a:link {
    color: black;
	text-decoration: none;
}

.producttile a:hover {
    color: black;
	text-decoration: none;
}

.producttile a:active {
    color: black;
	text-decoration: none;
}

.producttile a:visited {
	
    color: black;
	text-decoration: none;
}

.producttile .text
{
    color: black;
}

a img
{
     border:0px;
}