<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ASquare.WindowsTaskScheduler" version="1.5.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Sdl.Core.PluginFramework" version="1.8.0" targetFramework="net452" />
  <package id="Sdl.Core.PluginFramework.Build" version="14.0.0" targetFramework="net452" />
  <package id="TaskScheduler" version="2.6.5" targetFramework="net452" />
</packages>