<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UIExtension">
	<Product Id="*" Name="Trados Freshstart" Language="1033" Version="1.0.9.0" Manufacturer="Trados AppStore Team" UpgradeCode="bcee5a2b-8710-4d13-8ba8-2f7faa5d9407">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)Icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Trados Freshstart" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="WelcomeDlg"
					 Control="Next"
					 Event="NewDialog"
					 Value="InstallDirDlg"
					 Order="2">1</Publish>
			<Publish Dialog="InstallDirDlg"
					 Control="Back"
					 Event="NewDialog"
					 Value="WelcomeDlg"
					 Order="2">1</Publish>
		</UI>
	</Product>

	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
				<Shortcut Id="ApplicationDesktopShortcut" Name="Trados Freshstart" Icon="icon.ico" Description="Trados Freshstart" Target="[INSTALLFOLDER]Sdl.Community.SdlFreshstart.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\Trados Freshstart" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Trados Freshstart" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Sdl.Community.SdlFreshstart">
				<File Id="Sdl.Community.SdlFreshstart.exe" Name="Sdl.Community.SdlFreshstart.exe" Source="$(var.BuildOutputPath)\Sdl.Community.SdlFreshstart.exe" KeyPath="yes" />
			</Component>

			<Component Id="MahApps.Metro.dll" Guid="*">
				<File Id="MahApps.Metro.dll" KeyPath="yes" Source="$(var.BuildOutputPath)\MahApps.Metro.dll"></File>
			</Component>

			<Component Id="Newtonsoft.Json.dll" Guid="*">
				<File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.BuildOutputPath)\Newtonsoft.Json.dll"></File>
			</Component>

			<Component Id="System.Windows.Interactivity.dll" Guid="*">
				<File Id="System.Windows.Interactivity.dll" KeyPath="yes" Source="$(var.BuildOutputPath)\System.Windows.Interactivity.dll"></File>
			</Component>

			<Component Id="Sdl.Community.Toolkit.Core.dll" Guid="*">
				<File Id="Trados.Community.Toolkit.Core.dll" KeyPath="yes" Source="$(var.BuildOutputPath)\Trados.Community.Toolkit.Core.dll"></File>
			</Component>

			<Component Id="NLog.dll" Guid="*">
				<File Id="NLog.dll" KeyPath="yes" Source="$(var.BuildOutputPath)\NLog.dll"></File>
			</Component>

			<Component Id="Sdl.Versioning.dll" Guid="*">
				<File Id="Sdl.Versioning.dll" KeyPath="yes" Source="$(var.BuildOutputPath)\Sdl.Versioning.dll"></File>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>