<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UIExtension">
	<Product Id="*" Name="SDL Freshstart" Language="1033" Version="1.0.0.5" Manufacturer="Sdl Community" UpgradeCode="bcee5a2b-8710-4d13-8ba8-2f7faa5d9407">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)Icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\terms_and_conditions.rtf" />
		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="SDL Freshstart" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
				<Shortcut Id="ApplicationDesktopShortcut" Name="SDL Freshstart" Icon="icon.ico" Description="SDL Freshstart" Target="[INSTALLFOLDER]Sdl.Community.SdlFreshstart.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\SDL Freshstart" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
	
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SDL Freshstart" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Sdl.Community.SdlFreshstart">
				<File Id="Sdl.Community.SdlFreshstart.exe" Name="Sdl.Community.SdlFreshstart.exe" Source="$(var.Sdl.Community.SdlFreshstart.TargetPath)" KeyPath="yes" />
			</Component>

			<Component Id="Sdl.Community.SdlFreshstart.exe.config" Guid="749595ae-e1ec-4afa-93ef-3a9ae3b938f7">
				<File Id="Sdl.Community.SdlFreshstart.exe.config" Name="Sdl.Community.SdlFreshstart.exe.config" Source="$(var.Sdl.Community.SdlFreshstart.TargetDir)\Sdl.Community.SdlFreshstart.exe.config" />
			</Component>
			
			<Component Id="MahApps.Metro.dll" Guid="*">
				<File Id="MahApps.Metro.dll" KeyPath="yes" Source="$(var.Sdl.Community.SdlFreshstart.TargetDir)\MahApps.Metro.dll"></File>
			</Component>

			<Component Id="Newtonsoft.Json.dll" Guid="*">
				<File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.Sdl.Community.SdlFreshstart.TargetDir)\Newtonsoft.Json.dll"></File>
			</Component>
			
			<Component Id="System.Windows.Interactivity.dll" Guid="*">
				<File Id="System.Windows.Interactivity.dll" KeyPath="yes" Source="$(var.Sdl.Community.SdlFreshstart.TargetDir)\System.Windows.Interactivity.dll"></File>
			</Component>

			<Component Id="Sdl.Community.Toolkit.Core.dll" Guid="*">
				<File Id="Sdl.Community.Toolkit.Core.dll" KeyPath="yes" Source="$(var.Sdl.Community.SdlFreshstart.TargetDir)\Sdl.Community.Toolkit.Core.dll"></File>
			</Component>
		</ComponentGroup>
	
	</Fragment>
	
</Wix>

