<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    UpgradeCode="931520EF-125C-4EFC-AED1-4FBFB23E37E4"
    Name="SDL Trados Studio Word Cloud 1.0"
    Language="1033"
    Version="1.2.0"
    Manufacturer="SDL Community" >
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="SDL Trados Studio Word Cloud 1.0" InstallPrivileges="elevated" Manufacturer="SDL Community"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <UI Id="WixUI_MinimalNoUla">
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="Minimal" />

            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <DialogRef Id="WelcomeDlg" />

          <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" >1</Publish>

          <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

          <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

          <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
          <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
          <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

          <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
          <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>

          <Property Id="ARPNOMODIFY" Value="1" />
        </UI>

        <UIRef Id="WixUI_Common" />
    
    <Feature Id="ProductFeature" Title="WordCloud.WixInstaller" Level="1">
      <ComponentRef Id="WordCloudPluginComponent11" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder">
        <Directory Id="SdlFolder" Name="Sdl">
          <Directory Id="StudioFolder" Name="SDL Trados Studio">
            
            <Directory Id="Version11" Name="11">
              <Directory Id="Plugins11" Name="Plugins">
                <Directory Id="Packages11" Name="Packages">
                  <Component Guid="9843F3B8-EACA-4473-B6D9-49021726D2BA" Id="WordCloudPluginComponent11">
                    <RemoveFolder Id="Packages11" Directory="Packages11" On="uninstall" />
                    <RemoveFolder Id="Version11" Directory="Version11" On="uninstall" />
                    <RemoveFolder Id="Plugins11" Directory="Plugins11" On="uninstall" />
                    <RemoveFolder Id="StudioFolder" Directory="StudioFolder" On="uninstall" />
                    <RemoveFolder Id="SdlFolder" Directory="SdlFolder" On="uninstall" />
                    <File Source="..\bin\release\Studio2014\Sdl.Community.WordCloud.Plugin.sdlplugin" Id="WordCloudPluginFile11" />
                    <RegistryKey Root="HKLM" Key="Software\SDLCommunity\WordCloud" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                      <RegistryValue Name="Version" Value="11" Type="string" KeyPath="yes"/>
                    </RegistryKey>
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>

        </Directory>

      </Directory>
    </Directory>
  </Product>


</Wix>