<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3" targetFramework="net47" />
  <package id="Sdl.Community.Toolkit.Core" version="3.0.0" targetFramework="net48" />
  <package id="Sdl.Community.Toolkit.LanguagePlatform" version="3.0.0" targetFramework="net48" />
</packages>