<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net472" />
  <package id="Sdl.Community.UsefulTips.Service" version="1.1.9" targetFramework="net472" />
  <package id="Sdl.Core.PluginFramework" version="2.0.0" targetFramework="net48" />
  <package id="Sdl.Core.PluginFramework.Build" version="16.0.1" targetFramework="net48" />
  <package id="SegmentComparer" version="1.0.3" targetFramework="net472" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="4.0.20315.13310" targetFramework="net48" />
  <package id="Xceed.Wpf.Toolkit" version="4.0.20315.13310" targetFramework="net48" />
</packages>