<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sdl.Desktop.Platform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sdl.Desktop.Platform.Properties.Settings>
            <setting name="New_Layout" serializeAs="String">
                <value>New_Layout</value>
            </setting>
            <setting name="Plug_ins" serializeAs="String">
                <value>Plug_ins</value>
            </setting>
            <setting name="User_Interface_Language" serializeAs="String">
                <value>User_Interface_Language</value>
            </setting>
            <setting name="Options_Keyboard_Shortcuts" serializeAs="String">
                <value>Options_Keyboard_Shortcuts</value>
            </setting>
            <setting name="Manage_User_Profiles_Wizard_User_Profiles" serializeAs="String">
                <value>Manage_User_Profiles_Wizard_User_Profiles</value>
            </setting>
            <setting name="Manage_User_Profiles_Wizard_Export_User_Settings" serializeAs="String">
                <value>Manage_User_Profiles_Wizard_Export_User_Settings</value>
            </setting>
            <setting name="Manage_User_Profiles_Backup_User_Settings" serializeAs="String">
                <value>Manage_User_Profiles_Backup_User_Settings</value>
            </setting>
            <setting name="Manage_User_Profiles_Wizard_Select_User_Profile" serializeAs="String">
                <value>Manage_User_Profiles_Wizard_Select_User_Profile</value>
            </setting>
            <setting name="QA_Checker_Segments_Verification" serializeAs="String">
                <value>QA_Checker_Segments_Verification</value>
            </setting>
            <setting name="QA_Checker_Segments_to_Exclude" serializeAs="String">
                <value>QA_Checker_Segments_to_Exclude</value>
            </setting>
            <setting name="QA_Checker_Inconsistencies" serializeAs="String">
                <value>QA_Checker_Inconsistencies</value>
            </setting>
            <setting name="QA_Checker_Punctuation" serializeAs="String">
                <value>QA_Checker_Punctuation</value>
            </setting>
            <setting name="QA_Checker_Numbers" serializeAs="String">
                <value>QA_Checker_Numbers</value>
            </setting>
            <setting name="QA_Checker_Word_List" serializeAs="String">
                <value>QA_Checker_Word_List</value>
            </setting>
            <setting name="QA_Checker_Regular_Expressions" serializeAs="String">
                <value>QA_Checker_Regular_Expressions</value>
            </setting>
            <setting name="QA_Checker_Trademark_Check" serializeAs="String">
                <value>QA_Checker_Trademark_Check</value>
            </setting>
            <setting name="QA_Checker_Length_Verification" serializeAs="String">
                <value>QA_Checker_Length_Verification</value>
            </setting>
            <setting name="QA_Checker_QA_Checker_Profiles" serializeAs="String">
                <value>QA_Checker_QA_Checker_Profiles</value>
            </setting>
            <setting name="Terminology_Verifier_Termbase_Definition" serializeAs="String">
                <value>Terminology_Verifier_Termbase_Definition</value>
            </setting>
            <setting name="Terminology_Verifier_Profiles" serializeAs="String">
                <value>TV_Profiles</value>
            </setting>
            <setting name="Servers" serializeAs="String">
                <value>Servers</value>
            </setting>
            <setting name="Add_Edit_SDL_Server" serializeAs="String">
                <value>Add_Edit_SDL_Server</value>
            </setting>
            <setting name="Options_Automatic_Updates" serializeAs="String">
                <value>Options_Automatic_Updates</value>
            </setting>
            <setting name="Change_Server_Password" serializeAs="String">
                <value>Change_Server_Password</value>
            </setting>
        </Sdl.Desktop.Platform.Properties.Settings>
    </applicationSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
