<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp8E0BA9345D6467C6CE87127468E2DA60" Guid="*">
                <File Id="fil425B2C707904C74CBB8D3C690296B481" KeyPath="yes" Source="$(var.SourceDir)\DocumentFormat.OpenXml.dll" />
            </Component>
            <Component Id="cmp497857C5CC0A98968F92450C07017DCA" Guid="*">
                <File Id="filAE9C8B356AAE693C0D4EA8955655CE44" KeyPath="yes" Source="$(var.SourceDir)\DocumentFormat.OpenXml.xml" />
            </Component>
            <Component Id="cmpA41306D2FF46ED001C26EDE6CF569CE7" Guid="*">
                <File Id="fil7BDD369DE1CC711AD06EE9E9287619DE" KeyPath="yes" Source="$(var.SourceDir)\InvoiceAndQuotes.de-DE.resx" />
            </Component>
            <Component Id="cmp2E5DE19177653E30EEEAF7EAFE92F1EB" Guid="*">
                <File Id="fil017058F7817498B64BB0449C39CBFC06" KeyPath="yes" Source="$(var.SourceDir)\InvoiceAndQuotes.en-US.resx" />
            </Component>
            <Component Id="cmpF1E93E5D9728A1479D8783AC7EB7A9C6" Guid="*">
                <File Id="fil557117A465CB540BAC49539158EC86FE" KeyPath="yes" Source="$(var.SourceDir)\InvoiceAndQuotes.fr-FR.resx" />
            </Component>
            <Component Id="cmp2C9631D0045D31E9EADFC26BD6F39E8A" Guid="*">
                <File Id="fil7F59128F3FF4B32DF0E0340977C549B7" KeyPath="yes" Source="$(var.SourceDir)\InvoicesAndQuotes.xml" />
            </Component>
            <Component Id="cmp0536AEF701F33B1828D79F4646CF92F1" Guid="*">
                <File Id="fil3B862F1EA6F4E621F2F81E71D08C78EB" KeyPath="yes" Source="$(var.SourceDir)\Sdl.Community.StudioInQuote.exe" />
            </Component>
            <Component Id="cmp2F9CDEBCC8B99DE63662E46105A24D98" Guid="*">
                <File Id="fil0397DD31C755F9E29E5C3C242A629404" KeyPath="yes" Source="$(var.SourceDir)\Sdl.Community.StudioInQuote.exe.config" />
            </Component>
            <Component Id="cmp109B517F82DE209F0AE010865685DC3D" Guid="*">
                <File Id="fil524ACA8689525E58AA32BA26EAEFD670" KeyPath="yes" Source="$(var.SourceDir)\Sdl.Community.StudioInQuote.pdb" />
            </Component>
            <Component Id="cmpA6B38A3F665434C03149F77DF81E56F8" Guid="*">
                <File Id="fil09938DE7354E3C26F069E8F0DDF58EA8" KeyPath="yes" Source="$(var.SourceDir)\Sdl.Community.StudioInQuote.vshost.exe" />
            </Component>
            <Component Id="cmp50621FF9B58747FC2B0856458A6B3853" Guid="*">
                <File Id="fil5D3944F53EEDC97A22EBD2C8716EFDF1" KeyPath="yes" Source="$(var.SourceDir)\Sdl.Community.StudioInQuote.vshost.exe.config" />
            </Component>
            <Component Id="cmp4FC6EF303F7FFC59C2EB6DC10D517997" Guid="*">
                <File Id="fil99232B706EE773B79C8FD1A1B322DFD6" KeyPath="yes" Source="$(var.SourceDir)\Sdl.Community.StudioInQuote.vshost.exe.manifest" />
            </Component>
            <Component Id="cmpDAA3391D8641EF11234B08CC2E598C87" Guid="*">
                <File Id="fil327DED7675664D46042FF952F3C8C1EF" KeyPath="yes" Source="$(var.SourceDir)\WindowsBase.dll" />
            </Component>
            <Directory Id="dir8024B5DD193B40842DD7D0E99475ED32" Name="Office Templates">
                <Component Id="cmp5EBF4859D79834E8863250A99213408F" Guid="*">
                    <File Id="fil6F7499ED48DDAEA91D61D623017436FF" KeyPath="yes" Source="$(var.SourceDir)\Office Templates\Grouped AnalysisTemplate.docx" />
                </Component>
                <Component Id="cmp146055B42B4D208114234069DFD419CE" Guid="*">
                    <File Id="fil9F0B14AFDDF5EF57DFCFC6C5DE5A6A4E" KeyPath="yes" Source="$(var.SourceDir)\Office Templates\Grouped AnalysisTemplate.xlsx" />
                </Component>
                <Component Id="cmpE09FAE9C24BEA4B0D6EC473103E52853" Guid="*">
                    <File Id="fil7D609869DE7BC4FD7DDCBF36EF5B8F3A" KeyPath="yes" Source="$(var.SourceDir)\Office Templates\Simple Excel Template.xlsx" />
                </Component>
                <Component Id="cmp02E183E40CF102721D9AD02A7316EAA6" Guid="*">
                    <File Id="fil73F786DE5603BF9DE6149117FA50CEA8" KeyPath="yes" Source="$(var.SourceDir)\Office Templates\Simple Word Template.docx" />
                </Component>
                <Component Id="cmp35C9C9C63E81716BFC23F1D128CA6940" Guid="*">
                    <File Id="filC0D358EF75C7A4F54291E01133D5BDD4" KeyPath="yes" Source="$(var.SourceDir)\Office Templates\Standard Lines Template.docx" />
                </Component>
                <Component Id="cmp88C8898C76C1355849B8DA297FC1142C" Guid="*">
                    <File Id="fil41B6F9054B3FF8611866A65B33D5FE22" KeyPath="yes" Source="$(var.SourceDir)\Office Templates\Standard Lines Template.xlsx" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="C_CommonAssemblies">
            <ComponentRef Id="cmp8E0BA9345D6467C6CE87127468E2DA60" />
            <ComponentRef Id="cmp497857C5CC0A98968F92450C07017DCA" />
            <ComponentRef Id="cmpA41306D2FF46ED001C26EDE6CF569CE7" />
            <ComponentRef Id="cmp2E5DE19177653E30EEEAF7EAFE92F1EB" />
            <ComponentRef Id="cmpF1E93E5D9728A1479D8783AC7EB7A9C6" />
            <ComponentRef Id="cmp2C9631D0045D31E9EADFC26BD6F39E8A" />
            <ComponentRef Id="cmp0536AEF701F33B1828D79F4646CF92F1" />
            <ComponentRef Id="cmp2F9CDEBCC8B99DE63662E46105A24D98" />
            <ComponentRef Id="cmp109B517F82DE209F0AE010865685DC3D" />
            <ComponentRef Id="cmpA6B38A3F665434C03149F77DF81E56F8" />
            <ComponentRef Id="cmp50621FF9B58747FC2B0856458A6B3853" />
            <ComponentRef Id="cmp4FC6EF303F7FFC59C2EB6DC10D517997" />
            <ComponentRef Id="cmpDAA3391D8641EF11234B08CC2E598C87" />
            <ComponentRef Id="cmp5EBF4859D79834E8863250A99213408F" />
            <ComponentRef Id="cmp146055B42B4D208114234069DFD419CE" />
            <ComponentRef Id="cmpE09FAE9C24BEA4B0D6EC473103E52853" />
            <ComponentRef Id="cmp02E183E40CF102721D9AD02A7316EAA6" />
            <ComponentRef Id="cmp35C9C9C63E81716BFC23F1D128CA6940" />
            <ComponentRef Id="cmp88C8898C76C1355849B8DA297FC1142C" />
        </ComponentGroup>
    </Fragment>
</Wix>