<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.0.5" targetFramework="net452" />
  <package id="FuzzyString" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="1.2.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="1.2.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="1.2.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="1.2.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="1.2.3" targetFramework="net452" />
  <package id="NLog" version="4.6.6" targetFramework="net47" />
  <package id="ObjectListView.Official" version="2.9.0" targetFramework="net452" />
  <package id="Sdl.Core.PluginFramework" version="1.8.0" targetFramework="net452" />
  <package id="Sdl.Core.PluginFramework.Build" version="15.1.0" targetFramework="net47" />
</packages>