<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:ui="http://schemas.microsoft.com/wix/UIExtension">
	<Product Id="*" Name="TMOptimizer 2024" Language="1033" Version="5.0.0.0" Manufacturer="Trados AppStore Team" UpgradeCode="306085c5-c154-40d3-9865-66fb11f6e4de">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Icon Id="product.ico" SourceFile="$(var.ProjectDir)product.ico" />
		<Property Id="ARPPRODUCTICON" Value="product.ico" />

		<Property Id="WIXUI_INSTALLDIR" Value="TMOPTIMIZER" />
		<!--bellow line describes the UI of the Wix installer which does not include the possibility to select an installation path-->

		<UIRef Id="WixUI_InstallDir"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<!-- Compoments needed for the installation - by defining the below components, installer knows to install the application to Desktop and Program Data. -->
		<Feature Id="ProductFeature" Title="Sdl.Community.TMOptimizer.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id='ApplicationProgramDataShortcut' />
			<ComponentRef Id='ApplicationShortcutDesktop' />
		</Feature>

		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="WelcomeDlg"
			         Control="Next"
			         Event="NewDialog"
			         Value="VerifyReadyDlg"
			         Order="2">1</Publish>
			<Publish Dialog="VerifyReadyDlg"
			         Control="Back"
			         Event="NewDialog"
			         Value="WelcomeDlg"
			         Order="2">1</Publish>
		</UI>

	</Product>

	<!-- Create shortcut to the Desktop directory. Use .exe from the INSTALLFOLDER where the application together with all 
	.dll dependecies will be installed. INSTALLFOLDER is the location provided by user when running .msi file -->
	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="07bd2eb0-4658-4fed-b1d1-a93fe7581f68">
				<Shortcut Id="ApplicationDesktopShortcut" Name="TMOptimizer2024" Icon="product.ico" Description="TMOptimizer2024" Target="[TMOPTIMIZER]Sdl.Community.TMOptimizer.exe" WorkingDirectory="TMOPTIMIZER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\Sdl.Community.TMOptimizer" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<!-- Create shortcut to the TradosStudio2024Apps directory. Use .exe from the INSTALLFOLDER where the application together with all 
	.dll dependecies will be installed. INSTALLFOLDER is the location provided by user when running .msi file -->
	<Fragment>
		<DirectoryRef Id="TradosStudio2024Apps">
			<Component Id="ApplicationProgramDataShortcut" Guid="1fa73f50-a0d8-43fc-8894-5c222a142545">
				<Shortcut Id="ApplicationProgDataShortcut" Name="TMOptimizer2024" Icon="product.ico" Description="TMOptimizer2024" Target="[TMOPTIMIZER]\Sdl.Community.TMOptimizer.exe" WorkingDirectory="TMOPTIMIZER" />
				<RemoveFolder Id="RemoveTradosStudio2024Apps" Directory="TradosStudio2024Apps" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\Sdl.Communities.TMOptimizerShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!-- Define location where the app will be installed, TMOptimizer folder (it is used because dll's needs to be loaded from the Studio folder)-->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="Trados" Name="Trados" >
					<Directory Id="TradosStudio" Name="Trados Studio">
						<Directory Id="TMOPTIMIZER" Name="Studio18"/>
					</Directory>
				</Directory>
			</Directory>

			<!-- Define location where the shortcut will be added: in our case, folder TradosStudio2024Apps is defined to C:\ProgramData\Microsoft\Windows\Start Menu\Programs\ path.
			 Way to construct the path where the shortcut will be added -->
			<Directory Id="ProgramMenuFolder"  Name="All Programs folder">
				<Directory Id="TradosStudio2024Apps" Name="Trados Studio 2024 Apps" />
			</Directory>

			<!-- Define location where the shortcut will be added: in our case: Desktop -->
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<!-- .exe and .dll's which are installed to selected location when user is running the .msi file-->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="TMOPTIMIZER">
			<Component Id="Sdl.Community.TMOptimizer">
				<File Id="Sdl.Community.TMOptimizer.exe" Name="Sdl.Community.TMOptimizer.exe" Source="$(var.Sdl.Community.TMOptimizer.TargetPath)" KeyPath="yes" />
			</Component>
			
			<Component Id="Sdl.Community.TMOptimizer.exe.config" Guid="55dfa363-c959-49cb-861e-c05c75860968">
				<File Id="Sdl.Community.TMOptimizer.exe.config" Name="Sdl.Community.TMOptimizer.exe.config" Source="$(var.Sdl.Community.TMOptimizer.TargetDir)\Sdl.Community.TMOptimizer.exe.config" />
			</Component>
			
			<Component Id="icu.net.dll">
				<File Id="icu.net.dll" Name="icu.net.dll" Source="$(var.Sdl.Community.TMOptimizer.TargetDir)\icu.net.dll" />
			</Component>

			<Component Id="Sdl.Community.TMOptimizerLib.dll" Guid="*">
				<File Id="Sdl.Community.TMOptimizerLib.dll" Source="$(var.Sdl.Community.TMOptimizer.TargetDir)\Sdl.Community.TMOptimizerLib.dll" />
			</Component>

			<Component Id="Xceed.Wpf.Toolkit.dll">
				<File Id="Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" Source="$(var.Sdl.Community.TMOptimizer.TargetDir)\Xceed.Wpf.Toolkit.dll"  />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
