<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Hunspell Dictionary Manager" Language="1033" Version="1.0.0.0" Manufacturer="Sdl Community" UpgradeCode="3e35f8d6-cb98-4410-a336-aaa76ffee6d9">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\terms_and_conditions.rtf" />

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Hunspell Dictionary Manager" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="247952a2-ba7b-48a7-9ed8-6e38c5535897">
				<Shortcut Id="ApplicationDesktopShortcut" Name="Hunspell Dictionary Manager" Icon="icon.ico" Description="Hunspell Dictionary Manager" Target="[INSTALLFOLDER]Sdl.Community.Sdl.Community.HunspellDictionaryManager.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\Sdl.Community.Sdl.Community.HunspellDictionaryManager" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Hunspell Dictionary Manager" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Sdl.Community.HunspellDictionaryManager">
				<File Id="Sdl.Community.HunspellDictionaryManager.exe" Name="Sdl.Community.HunspellDictionaryManager.exe" Source="$(var.Sdl.Community.HunspellDictionaryManager.TargetPath)" KeyPath="yes" />
			</Component>

			<Component Id="Sdl.Community.HunspellDictionaryManager.exe.config" Guid="93c5703b-c489-4ce2-af26-4d0a73536d02">
				<File Id="Sdl.Community.HunspellDictionaryManager.exe.config" Name="Sdl.Community.HunspellDictionaryManager.exe.config" Source="$(var.Sdl.Community.HunspellDictionaryManager.TargetDir)\Sdl.Community.HunspellDictionaryManager.exe.config" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>