<?xml version="1.0" encoding="UTF-8"?>
<?include Defines.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product  Id="*" Name="Hunspell Dictionary Manager 2021" Language="1033" Version="$(var.productVersion)" Manufacturer="RWS AppStore Team"  UpgradeCode="$(var.upgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Property Id="WIXUI_INSTALLDIR" Value="Studio16" />
    <!--bellow line describes the UI of the Wix installer which does not include the possibility to select an installation path-->
    <UIRef Id="WixUI_Minimal_OX"/>

    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>
    <MediaTemplate EmbedCab="yes"/>

    <!-- Compoments needed for the installation - by defining the below components, installer knows to install the application to Desktop and Program Data. -->
    <Feature Id="ProductFeature" Title="Sdl.Community.HunspellDictionaryManager.Installer" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
	  <ComponentRef Id='ApplicationProgramDataShortcut' />
	  <ComponentRef Id='ApplicationShortcutDesktop' />
    </Feature>
  </Product>

  <!-- Create shortcut to the Desktop directory. Use .exe from the INSTALLFOLDER where the application together with all 
	.dll dependecies will be installed. INSTALLFOLDER is the location provided by user when running .msi file -->
  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="E35C5279-5050-4BE6-A871-CA341D323CD7">
        <Shortcut Id="ApplicationDesktopShortcut" Name="Hunspell Dictionary Manager 2021" Icon="icon.ico" Description="Hunspell Dictionary Manager for Trados Studio 2021" Target="[Studio16]Sdl.Community.HunspellDictionaryManager.exe" WorkingDirectory="Studio16" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Sdl.Community.HunspellDictionaryManager" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

	<!-- Create shortcut to the SDLTradosStudio2021Apps directory. Use .exe from the INSTALLFOLDER where the application together with all 
	.dll dependecies will be installed. INSTALLFOLDER is the location provided by user when running .msi file -->
	<Fragment>
		<DirectoryRef Id="TradosStudio2021Apps">
			<Component Id="ApplicationProgramDataShortcut" Guid="31E97AFA-DFAB-43A9-81E0-C122DC1C9391">
				<Shortcut Id="ApplicationProgDataShortcut" Name="Hunspell Dictionary Manager 2021" Icon="icon.ico" Description="Hunspell Dictionary Manager for Trados Studio 2021" Target="[Studio16]\Sdl.Community.HunspellDictionaryManager.exe" WorkingDirectory="Studio16" />
				<RemoveFolder Id="RemoveTradosStudio2021Apps" Directory="TradosStudio2021Apps" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\Sdl.Community.HunspellDictionaryManagerShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
	
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Define location where the app will be installed, Studio16 folder (it is used because dll's needs to be loaded from the Studio folder)-->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SDL" Name="SDL" >
          <Directory Id="SDLTradosStudio" Name="SDL Trados Studio" >
            <Directory Id="Studio16" Name="Studio16"/>
          </Directory>
        </Directory>
      </Directory>
      <!-- Define location where the shortcut will be added: in our case, folder TradosStudio2021Apps is defined to C:\ProgramData\Microsoft\Windows\Start Menu\Programs\ path.
			 Way to construct the path where the shortcut will be added -->
			<Directory Id="ProgramMenuFolder"  Name="All Programs folder">
				<Directory Id="TradosStudio2021Apps" Name="Trados Studio 2021 Apps" />
			</Directory>

			<!-- Define location where the shortcut will be added: in our case: Desktop -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <!-- .exe and .dll's which are installed to selected location when user is running the .msi file-->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="Studio16">
      <Component Id="Sdl.Community.HunspellDictionaryManager">
        <File Id="Sdl.Community.HunspellDictionaryManager.exe" Name="Sdl.Community.HunspellDictionaryManager.exe" Source="$(env.ProgramFiles(x86))\SDL\SDL Trados Studio\Studio16\Sdl.Community.HunspellDictionaryManager.exe" KeyPath="yes" />
      </Component>

      <Component Id="Sdl.Community.HunspellDictionaryManager.exe.config" Guid="7080065D-6A4A-436A-AE01-1D1CAF804499">
        <File Id="Sdl.Community.HunspellDictionaryManager.exe.config" Name="Sdl.Community.HunspellDictionaryManager.exe.config" Source="$(env.ProgramFiles(x86))\SDL\SDL Trados Studio\Studio16\Sdl.Community.HunspellDictionaryManager.exe.config" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
