<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3" targetFramework="net452" />
  <package id="Sdl.Community.Toolkit.Core.Studio2017" version="0.7.1" targetFramework="net452" />
  <package id="Sdl.Community.Toolkit.LanguagePlatform.Studio2017" version="0.7.1" targetFramework="net452" />
</packages>