<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Sdl.Core.PluginFramework" version="1.8.0" targetFramework="net452" />
  <package id="Sdl.Core.PluginFramework.Build" version="15.0.2" targetFramework="net452" />
  <package id="SegmentComparer" version="1.0.3" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net452" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="3.7.18313.20590" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit" version="3.7.18313.20590" targetFramework="net452" />
</packages>