<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sdl.Community.Toolkit.Core" version="3.0.0" targetFramework="net48" />
  <package id="Sdl.Community.Toolkit.LanguagePlatform" version="3.0.0" targetFramework="net48" />
  <package id="Sdl.Core.PluginFramework" version="2.0.0" targetFramework="net48" />
  <package id="Sdl.Core.PluginFramework.Build" version="16.0.1" targetFramework="net48" />
  <package id="Sdl.MultiSelectComboBox" version="1.0.32" targetFramework="net48" />
</packages>