<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.CommonProtos" version="2.0.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="3.0.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc" version="3.0.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc.GrpcCore" version="3.0.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="3.0.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.44.1" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.44.1" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.44.1" targetFramework="net472" />
  <package id="Google.Apis.Translate.v2" version="1.42.0.875" targetFramework="net472" />
  <package id="Google.Cloud.Translate.V3" version="2.0.0" targetFramework="net472" />
  <package id="Google.Cloud.Translation.V2" version="2.0.0" targetFramework="net472" />
  <package id="Google.LongRunning" version="2.0.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net472" />
  <package id="Grpc.Auth" version="2.27.0" targetFramework="net472" />
  <package id="Grpc.Core" version="2.27.0" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.27.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
</packages>