<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sdl.Core.PluginFramework" version="1.8.0" targetFramework="net47" />
  <package id="Sdl.Core.PluginFramework.Build" version="15.0.1" targetFramework="net47" />
  <package id="Studio.AssemblyResolver" version="0.1.2.0" targetFramework="net452" />
</packages>