<?xml version="1.0" encoding="utf-8"?>
<!-- LOGGING CONFIGURATION : Confluence documentation page https://confluence.sdl.com/display/LCC/Logging -->
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets async="true">
    <!--target for syslog - not used anymore for Containerized applications-->
    <!--<target name="syslog" type="Syslog" syslogserver="clj-lc-log01" port="514" syslogtag="lcci,tmsvc" sender="TMService" facility="local3" syslogSeverity="Debug" layout="${longdate}|${level}|THREAD_ID:${threadId}|TR_ID:${event-context:item=TR_ID}|${when:when=length('${exception:format=message}') &gt; 0 :inner=${literal:text=EX\:}${exception:format=message,Data:maxInnerExceptionLevel=10}|}${when:when=length('${all-properties-excluding:TR_ID}') &gt; 0 :Inner=${literal:text=OTHER\:}${all-properties-excluding:TR_ID}|}${message} ${exception:format=toString}" />-->
    <target name="logFile" xsi:type="File" fileName="${basedir}\logs\addon-deepl.log" archiveAboveSize="100000000" maxArchiveFiles="999" keepFileOpen="true" openFileCacheTimeout="30" concurrentWrites="false" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} [${threadId}] [${TR_ID}] [addon.blueprint] [null] logcategory [null] ${when:when=length('${exception:format=message}') &gt; 0 :inner=${literal:text=EX\:}${exception:format=message,Data:maxInnerExceptionLevel=10}|}${replace-newlines:replacement=\\n:${message}} ${replace-newlines:replacement=\\n:${exception:format=toString}}" />
    <!--Old style of the logs-->
    <!--<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${machinename}|${level}|THREAD_ID:${threadId}|TR_ID:${event-context:item=TR_ID}|${when:when=length('${exception:format=message}') &gt; 0 :inner=${literal:text=EX\:}${exception:format=message,Data:maxInnerExceptionLevel=10}|}${when:when=length('${all-properties-excluding:TR_ID}') &gt; 0 :Inner=${literal:text=OTHER\:}${all-properties-excluding:TR_ID}|}${message} ${exception:format=toString}">-->
    <!--Logs for the containerized application in the Language Cloud-->
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} [${threadId}] [${TR_ID}] [addon.deepl] [null] logcategory [null] ${when:when=length('${exception:format=message}') &gt; 0 :inner=${literal:text=EX\:}${exception:format=message,Data:maxInnerExceptionLevel=10}|}${replace-newlines:replacement=\\n:${message}} ${replace-newlines:replacement=\\n:${exception:format=toString}}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>
  <rules>
    <logger minLevel="${when:when='${environment:LOG_LEVEL}' != '':inner=${environment:LOG_LEVEL}:else=Info}" writeTo="coloredConsole" />
    <!--uncomment only for local debugging-->
    <!--<logger minLevel="Debug" writeTo="logFile" />-->
  </rules>
</nlog>