<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:ui="http://schemas.microsoft.com/wix/UIExtension"><?define Sdl.Community.SplitMergeUIWix_TargetDir=$(var.Sdl.Community.SplitMergeUIWix.TargetDir)?>
	<Product Id="*" Name="SDLXLIFF Split and Merge 2022" Language="1033" Version="4.0.1" Manufacturer="Trados AppStore Team" UpgradeCode="48a1c47f-b3be-4580-ae01-30f4114217ce">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<!--bellow line describes the UI of the Wix installer which does not include the possibility to select an installation path-->

		<UI>
			<UIRef Id="WixUI_InstallDir" />

			<!-- Skip license dialog -->
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
		</UI>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="SDLXLIFF Split and Merge 2022" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationProgramDataShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<!-- Create shortcut to the Desktop directory. Use .exe from the INSTALLFOLDER where the application together with all 
	.dll dependecies will be installed. INSTALLFOLDER is the location provided by user when running .msi file -->
	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="df2360f0-5a5c-4446-927f-c55ff3b8078c">
				<Shortcut Id="ApplicationDesktopShortcut" Name="SDLXLIFF Split and Merge 2022" Icon="icon.ico" Description="SDLXLIFF Split and Merge 2022" Target="[INSTALLFOLDER]Sdl.Community.SplitMergeUIWix.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\Sdl.Community.SplitMergeUIWix" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<!-- Create shortcut to the TradosStudio2022Apps directory. Use .exe from the INSTALLFOLDER where the application together with all 
	.dll dependecies will be installed. INSTALLFOLDER is the location provided by user when running .msi file -->
	<Fragment>
		<DirectoryRef Id="TradosStudio2022Apps">
			<Component Id="ApplicationProgramDataShortcut" Guid="4c2c7cb3-0b11-4b52-bca4-d4218b3b5c87">
				<Shortcut Id="ApplicationProgDataShortcut" Name="SDLXLIFF Split and Merge 2022" Icon="icon.ico" Description="SDLXLIFF Split and Merge 2022" Target="[INSTALLFOLDER]Sdl.Community.SplitMergeUIWix.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveTradosStudio2022Apps" Directory="TradosStudio2022Apps" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\Sdl.Community.SplitMergeUIWix" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!-- Define location where the app will be installed, INSTALLFOLDER folder (it is used because dll's needs to be loaded from the Studio folder)-->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="Trados" Name="Trados">
					<Directory Id="INSTALLFOLDER" Name="SDLXLIFF SplitMerge" />
				</Directory>
			</Directory>

			<!-- Define location where the shortcut will be added: in our case, folder TradosStudio2022Apps is defined to C:\ProgramData\Microsoft\Windows\Start Menu\Programs\ path.
			 Way to construct the path where the shortcut will be added -->
			<Directory Id="ProgramMenuFolder" Name="All Programs folder">
				<Directory Id="TradosStudio2022Apps" Name="Trados Studio 2022 Apps" />
			</Directory>

			<!-- Define location where the shortcut will be added: in our case: Desktop -->
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<!-- .exe and .dll's which are installed to selected location when user is running the .msi file-->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Sdl.Community.SplitMergeUIWix">
				<File Id="Sdl.Community.SplitMergeUIWix.exe" Name="Sdl.Community.SplitMergeUIWix.exe" Source="$(var.BuildOutputPath)\Sdl.Community.SplitMergeUIWix.exe" KeyPath="yes" />
			</Component>
			
			<Component Id="Sdl.TranslationStudioAutomation.IntegrationApi.dll">
				<File Id="Sdl.TranslationStudioAutomation.IntegrationApi.dll" Name="Sdl.TranslationStudioAutomation.IntegrationApi.dll" Source="$(var.BuildOutputPath)\Sdl.TranslationStudioAutomation.IntegrationApi.dll" KeyPath="yes" />
			</Component>
			
			<Component Id="Sdl.Desktop.IntegrationApi.dll">
				<File Id="Sdl.Desktop.IntegrationApi.dll" Name="Sdl.Desktop.IntegrationApi.dll" Source="$(var.BuildOutputPath)\Sdl.Desktop.IntegrationApi.dll" KeyPath="yes" />
			</Component>
			
			<Component Id="Sdl.Desktop.IntegrationApi.Extensions.dll">
				<File Id="Sdl.Desktop.IntegrationApi.Extensions.dll" Name="Sdl.Desktop.IntegrationApi.Extensions.dll" Source="$(var.BuildOutputPath)\Sdl.Desktop.IntegrationApi.Extensions.dll" KeyPath="yes" />
			</Component>
			
			<Component Id="Sdl.ProjectAutomation.Core.dll">
				<File Id="Sdl.ProjectAutomation.Core.dll" Name="Sdl.ProjectAutomation.Core.dll" Source="$(var.BuildOutputPath)\Sdl.ProjectAutomation.Core.dll" KeyPath="yes" />
			</Component>

			<Component Id="Sdl.Utilities.SplitSDLXLIFF.dll" Guid="*">
				<File Id="Sdl.Utilities.SplitSDLXLIFF.dll" KeyPath="yes" Source="$(var.BuildOutputPath)\Sdl.Utilities.SplitSDLXLIFF.dll"></File>
			</Component>

			<Component Id="Sdl.Utilities.SplitSDLXLIFF.Lib.dll" Guid="*">
				<File Id="Sdl.Utilities.SplitSDLXLIFF.Lib.dll" KeyPath="yes" Source="$(var.BuildOutputPath)\Sdl.Utilities.SplitSDLXLIFF.Lib.dll"></File>
			</Component>

			<Component Id="Sdl.Utilities.SplitSDLXLIFF.Wizard.dll" Guid="*">
				<File Id="Sdl.Utilities.SplitSDLXLIFF.Wizard.dll" KeyPath="yes" Source="$(var.BuildOutputPath)\Sdl.Utilities.SplitSDLXLIFF.Wizard.dll"></File>
			</Component>
			<Component Id="Sdl.Core.Globalization.dll" Guid="adc50c9c-48df-4c8a-9cbd-118349b86f62">
			  <File Id="Sdl.Core.Globalization.dll" Name="Sdl.Core.Globalization.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.Core.Globalization.dll" />
			</Component>
			<Component Id="Sdl.Core.LanguageProcessing.dll" Guid="d05d8ec5-0be1-4537-a802-88af4a92150a">
			  <File Id="Sdl.Core.LanguageProcessing.dll" Name="Sdl.Core.LanguageProcessing.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.Core.LanguageProcessing.dll" />
			</Component>
			<Component Id="Sdl.Core.Settings.dll" Guid="a5b81863-30dc-4c46-90aa-760baf357b15">
			  <File Id="Sdl.Core.Settings.dll" Name="Sdl.Core.Settings.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.Core.Settings.dll" />
			</Component>
			<Component Id="Sdl.FileTypeSupport.Framework.Core.dll" Guid="ca4ecf70-39c8-4d3c-9931-36fa2206571b">
			  <File Id="Sdl.FileTypeSupport.Framework.Core.dll" Name="Sdl.FileTypeSupport.Framework.Core.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.FileTypeSupport.Framework.Core.dll" />
			</Component>
			<Component Id="Sdl.FileTypeSupport.Framework.Core.Settings.dll" Guid="2f5a0127-db54-4e81-96ac-3f474d71865d">
			  <File Id="Sdl.FileTypeSupport.Framework.Core.Settings.dll" Name="Sdl.FileTypeSupport.Framework.Core.Settings.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.FileTypeSupport.Framework.Core.Settings.dll" />
			</Component>
			<Component Id="Sdl.FileTypeSupport.Framework.Core.Utilities.dll" Guid="bbe81f62-1a69-4292-bab2-ec854a0760d7">
			  <File Id="Sdl.FileTypeSupport.Framework.Core.Utilities.dll" Name="Sdl.FileTypeSupport.Framework.Core.Utilities.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.FileTypeSupport.Framework.Core.Utilities.dll" />
			</Component>
			<Component Id="Sdl.FileTypeSupport.Framework.Implementation.dll" Guid="9cf89d56-bb84-4923-aa75-2dce376975fe">
			  <File Id="Sdl.FileTypeSupport.Framework.Implementation.dll" Name="Sdl.FileTypeSupport.Framework.Implementation.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.FileTypeSupport.Framework.Implementation.dll" />
			</Component>
			<Component Id="Sdl.LanguagePlatform.Core.dll" Guid="db7e2cf5-90ce-464d-9830-839d09274c5d">
			  <File Id="Sdl.LanguagePlatform.Core.dll" Name="Sdl.LanguagePlatform.Core.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.LanguagePlatform.Core.dll" />
			</Component>
			<Component Id="Sdl.LanguagePlatform.Lingua.dll" Guid="b2fd37ff-e381-461a-975a-70cfb0a1e331">
			  <File Id="Sdl.LanguagePlatform.Lingua.dll" Name="Sdl.LanguagePlatform.Lingua.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.LanguagePlatform.Lingua.dll" />
			</Component>
			<Component Id="Sdl.LanguagePlatform.TranslationMemoryTools.dll" Guid="8328a4d2-757f-4e45-87bb-74390cce9ef5">
			  <File Id="Sdl.LanguagePlatform.TranslationMemoryTools.dll" Name="Sdl.LanguagePlatform.TranslationMemoryTools.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.LanguagePlatform.TranslationMemoryTools.dll" />
			</Component>
			<Component Id="Sdl.ProjectAutomation.FileBased.dll" Guid="bc4ccccb-723e-4673-900f-6bd9de02fb4c">
			  <File Id="Sdl.ProjectAutomation.FileBased.dll" Name="Sdl.ProjectAutomation.FileBased.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.ProjectAutomation.FileBased.dll" />
			</Component>
			<Component Id="Sdl.ProjectAutomation.Settings.dll" Guid="8394b2a1-dba8-45aa-8128-0db65e3c1ef7">
			  <File Id="Sdl.ProjectAutomation.Settings.dll" Name="Sdl.ProjectAutomation.Settings.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.ProjectAutomation.Settings.dll" />
			</Component>
			<Component Id="Sdl.TranslationStudioAutomation.IntegrationApi.Extensions.dll" Guid="c60d3e8e-eeeb-473e-be7d-24ce8280b151">
			  <File Id="Sdl.TranslationStudioAutomation.IntegrationApi.Extensions.dll" Name="Sdl.TranslationStudioAutomation.IntegrationApi.Extensions.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.TranslationStudioAutomation.IntegrationApi.Extensions.dll" />
			</Component>
			<Component Id="Sdl.Versioning.dll" Guid="7ef6e6a4-e1c8-4e8a-8880-9e11e7a43161">
			  <File Id="Sdl.Versioning.dll" Name="Sdl.Versioning.dll" Source="$(var.Sdl.Community.SplitMergeUIWix_TargetDir)Sdl.Versioning.dll" />
			</Component>
			

		</ComponentGroup>
	</Fragment>
</Wix>
