<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>


  <spring>
    <context>
      <resource uri="file://SdlXliffCompare.FilterFramework2Configuration.xml"/>
    </context>
  </spring>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
