<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sdl.Community.Toolkit.Core" version="0.6.1" targetFramework="net452" />
  <package id="Sdl.Core.PluginFramework" version="1.8.0" targetFramework="net452" />
  <package id="Sdl.Core.PluginFramework.Build" version="14.0.0" targetFramework="net452" />
</packages>